<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <div id = "app">
      <div class ="holder headline">
        <h1> Travel App </h1>
      </div>
      <div class ="holder zip">
        <label for="zip">Enter city name here</label>
        <input type="text" id="city-name" placeholder="enter city name here">
      </div>
      <div class ="holder feel">
        <label for="feelings">Enter arrival date</label>
        <input type="date" name="date" id="date" class="date" min="0" required>
        <button id="generate" type = "submit"> Submit </button>
      </div>
      <div class ="holder entry">
        <div id = "entryHolder">
          <div id = "city-picture">
            <img id ="city-image">
          </div>
          <p></p>
          <div id = "countdown"></div>
          <p></p>
          <div id = "city-heading"></div>
          <div id = "country-name"></div> 
          <div id = "capital"></div>
          <div id = "region"></div>
          <div id = "subregion"></div>
          <div id = "latitude"></div>
          <div id = "longitude"></div>
          <p></p>
          <div id = "weather-heading"></div>
          <div id = "weather-description"></div>
          <div id = "max-temp"></div>
          <div id = "min-temp"></div>
        </div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>
  </body>
</html>